<h1>記事一覧</h1>
<%= link_to "投稿する", new_item_path, class:"post" %>

<% @items.each do |article| %>
  <div class="item">
    <div class="item-genre">
      <%= item.genre.name %>
    </div>
    <div class="item-title">
      <%= item.title %>
    </div>
    <div class="item-text">
      <%= item.text %>
    </div>
  </div>
<% end %>